header.header--principal
	.logo.logo--header: a 
		img(src="../../images/user-woman.png")
	nav.nav--header: ul
		li: a(href="#") HOME
		li: a(href="#") BLOG
		li: a(href="#") NEWS
		li: a(href="#") 
			abbr(title='Do you wanna play?') GAME
		li: a(href="#") CONTACT
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search