.footer--principal {
    display: flex;
    height: 120px;
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 0 20px 20px 20px;
    background-color: $color-claro;
    box-shadow: darkgrey;
}
.nav--footer ul {
    display: flex;
    padding-top: 35px;
    li {
        list-style: none;
        margin-right: 50px;
    }
    a {
        color: $color-variacion;
        @include titulos($Fuente2);
    }
    
}

.nav--social {
    margin-left: auto;
    ul {
        display: flex;
        padding-top: 35px;
              
    }
    li {
        list-style: none;
        margin-right: 50px;
        color: $color-variacion;
    }
    a {
        color: $color-variacion;
        @include titulos($Fuente2);
    }  
}
