.header--principal {
    display: flex;
    padding: 0 20px 20px 20px;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #ebebeb;
    @include titulos($Fuente1);
    img {
        height: 200px;
        margin: 0;
    }

}
.logo img {
    height: 80px;
    margin: 0;
}
.nav--header ul {
    display: flex;
    padding-top: 35px;
    li {
        list-style: none;
        margin-right: 50px;
    }
    a {
        color: $color-variacion;
        @include titulos($Fuente2);
    }
}

.header__busqueda {
    display: flex;
    margin-left: auto;
    padding-top: 35px;
    &:hover {
        text-decoration: none;
    }
    i {
        font-size: 20px;
        margin-right: 10px;
        color: $color-secundario;
    }
    span {
        color: $color-variacion;
        @include titulos($Fuente2);
    }
    @include media(desktop-s){
        display: flex;
    }
}